In [2]:
##Dataset Link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data
import pandas as pd
import matplotlib as plt
import numpy as np

In [3]:
df=pd.read_csv('BankNote_Authentication.csv')

In [4]:
df.head(2)

   variance  skewness  curtosis  entropy  class
0    3.6216    8.6661   -2.8073 -0.44699      0
1    4.5459    8.1674   -2.4586 -1.46210      0

In [5]:
### Independent and Dependent features
X = df.iloc[:, :-1] ##Independent(whatfactors influence what you want to meaure)
y = df.iloc[:, -1]  ##Dependent(what you want to measure)

In [6]:
X

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [7]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [8]:
### Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [9]:
X_train

      variance   skewness  curtosis   entropy
122   -1.45720   9.121400  1.742500 -5.124100
1356  -4.07860   2.923900  0.870260 -0.653890
1015  -0.90784  -7.902600  6.780700  0.341790
1163   0.68180   4.850400 -5.213300 -6.104300
1034   0.67886   4.119900 -4.569000 -4.141400
...        ...        ...       ...       ...
763    0.39012  -0.142790 -0.031994  0.350840
835   -0.94255   0.039307 -0.241920  0.315930
1216   0.60050   0.999450 -2.212600  0.097399
559    2.01650  -0.252460  5.170700  1.076300
684   -2.07590  10.822300  2.643900 -4.837000

[960 rows x 4 columns]

In [10]:
### Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [11]:
## Prediction
y_pred = classifier.predict(X_test)

In [12]:
### Check Accuracy
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test,y_pred)

In [13]:
score

0.9902912621359223

In [14]:
### Create a Pickle file using serialization 
import pickle

pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [15]:
#trying out examples
classifier.predict([[2,3,4,1]])

array([0], dtype=int64)